* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Uso geral */

button {
    padding: 12px 40px;
    border-radius: 60px;
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.title {
    font-family: Koh Santepheap;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #232323;
}

.text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #232323;
}
a {
    text-decoration: none;
}

section {
    padding-top: 100px;
}


/* Header */

.header_body {
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;

    header{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;

        ul {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            gap: 56px;
    
            li {
                display: flex;
                list-style: none;
            }
    
        }
    }
}



/* Section Menu */
.menu {

    .menu_item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .menu_image {
        display: flex;
        justify-self: end;
    }
}





/* Seção Description */
.description{
    .description_text {
        display: block;
        align-content: center;
    }

    .description_item {
        font-family: Koh Santepheap;
        font-size: 24px;
        font-weight: 400;
        line-height: 30.47px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ff0000;
    }

    img {
        width: 592px;
        height: 500px;
        border-radius: 16px;
    }
}

/* Seção Populares */

.popular {

    h2 {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    h3 {
        font-family: Koh Santepheap;
        font-size: 32px;
        font-weight: 400;
        line-height: 40.63px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        position: absolute;
        top: 209px;
        left: 66px;
    }

    img {
        display: flex;
        justify-self: center;
        position: absolute;
        top: -100px;
        left: 55px;
    }

    p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        position: absolute;
        top: 280px;
    }

    span {
        font-family: Koh Santepheap;
        font-size: 32px;
        font-weight: 400;
        line-height: 40.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ff0000;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 380px;
        left: 158px;
    }

    .quadrado {
        height: 434px;
        background-color: #f8f5f2;        
        border-radius: 16px;
        position: relative;
        top: 71px;
    }
}

/* Seção Comentários */

.comment {

    h2 {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    h3 {
        font-family: Koh Santepheap;
        font-size: 32px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    p {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .quadrado {
        height: 392px;
        background-color: #f8f5f2;
        border-radius: 16px;
    }

    .star_image {
        width: 24px;
    }

    .comment_item {
        margin-left: 40px;
        padding-top: 40px;
    }
}


/* Seção Informação */

.information {

    p {
        font-family: Koh Santepheap;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.39px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    span {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: block;
    }
}


/* Seção rodape */

.footer_body {
    
    footer {
        padding-top: 35px;
        border-top: 1px solid #F8F5F2;

        ul {
            display: flex;
            li{
                list-style: none;
            }
        }
    
        .footer_image_social {
            justify-content: end;
            gap: 45px;
        }
    
        .footer_image_logo {
            padding: 0px;
        }
    }
}


