* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Uso geral */

button {
    padding: 12px 40px;
    border-radius: 60px;
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.title {
    font-family: Koh Santepheap;
    font-size: 48px;
    font-weight: 400;
    color: #232323;
}

.text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    color: #232323;
}
a {
    text-decoration: none;
}

section {
    padding-top: 100px;
}


/* Header */

.header_body {
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 10;

    header{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;

        ul {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            gap: 56px;
    
            li {
                display: flex;
                list-style: none;
            }
    
        }
    }
}



/* Section Menu */
.menu {

    .row {
        margin-top: 70px;
    }

    .menu_item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .menu_image {
        display: flex;
        justify-self: end;
    }
}





/* Seção Description */
.description{
    .description_text {
        display: block;
        align-content: center;
    }

    .description_item {
        font-family: Koh Santepheap;
        font-size: 24px;
        font-weight: 400;
        line-height: 30.47px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ff0000;
    }

    img {
        height: 500px;
        border-radius: 16px;
    }
}

/* Seção Populares */

.popular {

    h2 {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .scroll-col {
        display: flex;
        overflow-x: auto;
        gap: 20px;

        .quadrado {
            height: 500px;
            background-color: #f8f5f2;        
            border-radius: 16px;
            position: relative;
            margin-top: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            gap: 35px;
            padding: 20px;
    
            h3 {
                font-family: Koh Santepheap;
                font-size: 32px;
                line-height: 40.63px;
            }
        
            p {
                font-family: Poppins;
                font-size: 18px;
                text-align: center;
            }
        
            span {
                font-family: Koh Santepheap;
                font-size: 32px;
                line-height: 40.63px;
                color: #ff0000;
            }
        }
    }
}

/* Seção Comentários */

.splide {

    h2 {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    h3 {
        font-family: Koh Santepheap;
        font-size: 32px;
        line-height: 38.4px;
    }

    p {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .quadrado {
        background-color: #f8f5f2;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px;
        gap: 20px;
        height: 100%;
        justify-content: space-around;
    }

    .splide__arrow {
        top: 70%;
    }
}

/* Seção Pergunta frequentes */

.faq {
    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    button {
        font-family: Koh Santepheap;
        font-size: 30px;
        line-height: 40.63px;
    }

    .accordion-body {
        font-family: Poppins;
        font-size: 18px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #F8F5F2;
    }

    .accordion-button:focus {
        box-shadow: none;
    }
}

/* Seção Informação */

.information {

    h4 {
        font-family: Koh Santepheap;
        font-size: 20px;
        line-height: 25.39px;
        margin-bottom: 1em;
    }

    ul {
        padding: 0;

        li {
            font-family: Poppins;
            font-size: 18px;
            line-height: 35px;
            display: block;
            color: #232323;
        }
    }
    
}

/* seção contatos */

.contact {
    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    label {
        font-family: Koh Santepheap;
        font-size: 25px;
        line-height: 38.4px;
    }

    textarea {
        resize: none;
    }

    button {
        background-color: #ff0000;
        color: #fff;
    }
}


/* Seção rodape */

.footer_body {
    
    footer {
        padding-top: 35px;
        border-top: 1px solid #F8F5F2;

        ul {
            display: flex;
            li{
                list-style: none;
            }
        }
    
        .footer_image_social {
            justify-content: end;
            gap: 45px;
        }
    
        .footer_image_logo {
            padding: 0px;
        }
    }
}


/* Ponto flutuante */

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}





@media (max-width: 769px) {

    .header_body {
        a {
            margin-bottom: 10px;
        }
        
        nav {
            display: flex;
            justify-content: end;
        }

        header {
            .navbar-toggler {
                margin-right: 55px;
            }

            ul {
                gap: 0;
                justify-self: end;
            }
            
            img {
                display: flex;
                align-self: flex-start;
            } 
        }
    }

    .contact {
        .row{
            display: flex;
            justify-content: center;
        }
    }

    .description {
        .row {
            display: flex;
            flex-direction: column-reverse;
        }

        img {
            display: flex;
            justify-self: center;
        }
    }

    .description_item {
        display: flex;
        justify-self: center;
    }

    .popular {
        .scroll-col {
            .quadrado {
                min-width: 400px;

                p {
                    font-size: 15px;
                }
            }


        }
    }

    .title {
        display: flex;
    }

    .text {
        display: flex;
        margin-bottom: 50px;
    }

    .information {
        .col-md-3.custom-col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 30px;
        }
    }

    .footer_body {
        .footer_image_social {
            justify-self: center;
            padding: 0;
        }

        .footer_image_logo {
            justify-content: center;
        }
    }

    .splide {
        .quadrado {
            display: flex;
            flex-direction: column;
        }
    }
}
